@import url(./__container/page__container.css);

.page{
  background-color: #000000;
  font-family: 'Inter';
  }
  
  @media screen and (min-width: 320px) and (max-width:900px) {
  .page{
  display: flex;
  margin: 0 auto;
  min-width: 286px;
  }
  }