@import url(./__logo/header__logo.css);


.header{
    display: flex;
    width: 880px;
    height: 74px;
    margin: 45px auto 0;
    border-bottom: solid 1px rgba(84, 84, 84, .7);
}
 
@media screen and (min-width: 320px) and (max-width:720px) {
  .header{
display: flex;
margin: 28px 0 0;
width: 100%;
  }
}